.idea/*
nxt_db/*
target/*
logs/nxt*
logs/xel*
src/*/*.iml
work/code.epl
install/bundles/output.txt
install/bundles/*.dmg
install/bundles/*.sh
install/bundles/*.exe

xel-computation-wallet\.jar
/target/

\.settings/
\.classpath
\.project
\*.iml
