.idea/*
nxt_db/*
xel_db/*
nxt_test_db*
xel_test_db*
target/*
logs/nxt*
logs/xel*
src/*/*.iml
work/code.epl
install/bundles/output.txt
install/bundles/*.dmg
install/bundles/*.sh
install/bundles/*.exe
.gradle
build/*
out/*
xel-computation-wallet.jar
target/*

.settings/*
.classpath
.project
*.iml

xel-computation-wallet.iml
